<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src="/js/maps.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAuPcuo-7oFqieEYb62SmifV4rSGfxgunA&callback=initMap"
            async defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<div id="tableOverlay" class="overlay">

    <!-- Submit button jumps to map -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <!--insert table here-->
    </div>

</div>


<div id="map"></div>
</body>
</html>
