<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript' src="/js/maps.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
    <!--<script src="https://maps.google.com/maps/api/js?key=AIzaSyAuPcuo-7oFqieEYb62SmifV4rSGfxgunA&callback=initMap" async defer></script>-->
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript">
        var map;
        function initialize() {
            var options = {
                center: new google.maps.LatLng(37.5407, -77.4360),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), options);

        }
        google.maps.event.addDomListener(window, 'load', initialize);
        $.get("/maps/points", function (results) {
            console.log(results);
            var points = JSON.parse(results);
            console.log(points);

            points.forEach(function (point) {
                console.log(point.geoCode);
                addPoint(point);
            })

        });
        function addPoint(point) {
            var marker = new google.maps.Marker({
                position: point.geoCode,
                map: map,
                icon: "/drawables/blueMapMarker.png"
            });
        }
    </script>
</head>
<body>
<div id="tableOverlay" class="overlay" onclick="closeNav()">

    <!-- Overlay content -->
    <div class="overlay-content">
        <!--insert table here-->
        <table>
            <tr class="head">
                <th>Purchase Date</th>
                <th>Account Number</th>
                <th>Purchase Date</th>
                <th>Anal...I mean address</th>
            </tr>
            <% for (var i = 0; i < purchases.length; i++) { %>
            <tr>
                <td>
                    <%= purchases[i].purchase_date %>
                </td>
                <td>
                    <%= purchases[i].accountNumber %>
                </td>
                <td>
                    <%= purchases[i].merchantName %>
                </td>
                <td>
                    <!--<%= purchases[i].geocode %>-->Fill me with all the good stuff <img
                            src="/drawables/right_arrow.png" border='0' height='20' width='15'/>
                </td>
            </tr>
            <% } %>
        </table>

    </div>

</div>


<div id="map"></div>
</body>
</html>
