<table>
    <tr class="head">
        <th>Purchase Date</th>
        <th>Account Number</th>
        <th>Merchant Name</th>
        <th>Anal...I mean address</th>
    </tr>
    <% for (var i = 0; i < purchases.length; i++) { %>
    <tr>
        <td>
            <%= purchases[i].purchase_date %>
        </td>
        <td>
            <%= purchases[i].accountNumber %>
        </td>
        <td>
            <%= purchases[i].merchantName %>
        </td>
        <td>
            <%= purchases[i].address.street_number + " " + purchases[i].address.street_name + " " + purchases[i].address.city + " " + purchases[i].address.state %>
        </td>
    </tr>
    <% } %>
</table>