body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#map {
    height: 100%;
    width: 100%;
}

.map-position {
    width: 100%;
    height: 100%;
    margin-left: -9px;
    margin-top: -9px;
    position: fixed;
    display: block;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 1%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

table {
    font-family: Calibri;
    font-size: larger;
    width: inherit;
    height: 100%;
}

tr {
    height: 50px;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background: radial-gradient(lightskyblue, #467186);
    background-size: 100% 9%;
    background-attachment: fixed;
}

tr:nth-child(odd) {
    background: radial-gradient(steelblue, #324864);
    background-size: 100% 9%;
    background-attachment: fixed;
}

tr:hover {
    background: radial-gradient(#abc0ce, #7b8997);
    background-size: 100% 9%;
    background-attachment: fixed;
}

img {
    vertical-align: middle;
    margin-right: 2px;
    float: right;
}

th {
    background: radial-gradient(#24459a, #002c6a);
    background-size: 100% 14%;
    background-attachment: fixed;
    color: #FFFFFF;
    font-weight: bold;
}

.file {
    float: left;
    background-color: aliceblue;
    width: 88%;
    font-size: medium;
    color: black;
    margin-bottom: 5px;
}

.sub {
    float: right;
    border-radius: 3px;
    border-color: lightgray;
    width: 10%;
    font-size: medium;
    background: radial-gradient(lightgray, gray);
    background-attachment: fixed;
    color: white;
    margin-bottom: 5px;
    margin-right: 1%;
}

.displayButton {
    position: absolute;
    z-index: 5;
    width: 60px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 85%;
    border-radius: 3px;
    border: .5px dimgray;
    box-shadow: 0 4px 4px 0 dimgrey;
    right: 10px;
}

.displayButton:hover {
    box-shadow: none;
    border-radius: 3px;
    border: .5px dimgray;
}

#all {
    top: 10px;
    background: linear-gradient(to right, red, orange, yellow, greenyellow, green);
}

#gray {
    top: 50px;
    background: radial-gradient(lightgray, gray);
    color: white;
}

#red {
    top: 90px;
    background: radial-gradient(red, darkred);
    color: white;
}

#orange {
    top: 130px;
    background: radial-gradient(#ffb326, #e57326);
    color: white;
}

#blue {
    top: 170px;
    background: radial-gradient(#38aae8, #2460ff);
    color: white;
}

#none {
    top: 210px;
    background: radial-gradient(white, #e9e9e9);
    opacity: .7;
}



.contentWindow {
    height: auto;
    width: auto;
    font-size: xx-small;
    overflow: hidden;
    padding: 0px;
}

.gm-style-iw + div {
    display: none;
}
.gm-style-iw {text-align:center;
padding: 0}